@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  list-style-type: none;
  width: 100vw;
  height: 100vh;
  background-color: hsl(27deg, 66%, 92%);
}

#background {
  width: 100%;
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#background #card {
  width: 55rem;
}
#background #card #card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(10deg, 79%, 65%);
  padding: 2.8rem 4rem;
  border-radius: 2rem;
  margin-bottom: 2.5rem;
}
#background #card #card-header #my-balance {
  font-size: 1.8rem;
  color: #fff;
}
#background #card #card-header #my-balance p:nth-child(1) {
  font-weight: 400;
  margin-bottom: 1rem;
}
#background #card #card-header #my-balance p:nth-child(2) {
  font-weight: 700;
  font-size: 3.2rem;
}
#background #card #card-content {
  width: 55rem;
  padding: 4rem;
  font-size: 1.8rem;
  border-radius: 2rem;
  background-color: hsl(33deg, 100%, 98%);
}
#background #card #card-content #card-content-header {
  font-weight: 700;
  font-size: 3.2rem;
  color: hsl(25deg, 47%, 15%);
}
#background #card #card-content #table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  height: 25rem;
  overflow: hidden;
  font-size: 1.6rem;
}
#background #card #card-content #table .value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#background #card #card-content #table .value .price {
  margin-bottom: 0.6rem;
  background-color: hsl(25deg, 47%, 15%);
  color: #fff;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.7rem;
  visibility: hidden;
}
#background #card #card-content #table .value .bar {
  background-color: hsl(10deg, 79%, 65%);
  border-radius: 0.4rem;
  width: 5.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
#background #card #card-content #table .value .bar:hover {
  background-color: rgba(118, 181, 188, 0.6);
}
#background #card #card-content #card-footer {
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  margin-top: 3rem;
  padding: 3rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#background #card #card-content #card-footer #total p {
  color: hsl(25deg, 47%, 15%);
}
#background #card #card-content #card-footer #total p:nth-child(2) {
  font-size: 4.6rem;
  font-weight: 700;
}
#background #card #card-content #card-footer #last-month p {
  text-align: end;
}
#background #card #card-content #card-footer #last-month p:nth-child(1) {
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  #background #card {
    width: 35rem;
  }
  #background #card #card-header {
    padding: 2rem 2.5rem;
    margin-bottom: 2rem;
  }
  #background #card #card-header #my-balance {
    font-size: 1.6rem;
  }
  #background #card #card-header #my-balance p:nth-child(1) {
    margin-bottom: 0.5rem;
  }
  #background #card #card-header #my-balance p:nth-child(2) {
    font-size: 2.8rem;
  }
  #background #card #card-content {
    width: 35rem;
    padding: 2rem;
    font-size: 1.6rem;
  }
  #background #card #card-content #card-content-header {
    font-size: 2.4rem;
  }
  #background #card #card-content #table {
    height: 25rem;
    font-size: 1.4rem;
  }
  #background #card #card-content #table .value .price {
    width: 4rem;
    font-size: 1rem;
  }
  #background #card #card-content #table .value .bar {
    width: 3.5rem;
  }
  #background #card #card-content #card-footer {
    margin-top: 2rem;
    padding: 3rem 0rem 0rem 0rem;
  }
  #background #card #card-content #card-footer #total p:nth-child(2) {
    font-size: 3.4rem;
    font-weight: 700;
  }
  #background #card #card-content #card-footer #last-month p {
    text-align: end;
  }
  #background #card #card-content #card-footer #last-month p:nth-child(1) {
    font-weight: 700;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
